---
layout: layouts/base.njk
title: James' Blog
description: James' blog on the web, the universe, and everything.
pageType: postlist
eleventyNavigation:
  key: Blog
  order: 2
---

<div class="layout--1col">
	<main>
    <h1>Blog</h1>

    {% set postslist = collections.posts %}
    {% include "postslist.njk" %}
  </main>
</div>
