---
layout: layouts/base.njk
title: James' Blog
description: James' blog on the web, the universe, and everything.
pageType: postlist
eleventyNavigation:
  key: Blog
  order: 2
---

<div class="layout--1col">
	<main>
		<header class="heading-group">
			<h1>Blog</h1>
			<a href="/blog/feed.xml"><img src="/img/icons/feed.svg" alt="Blog Feed" width="256" height="256" loading="lazy"></a>
		</header>

    {% set postslist = collections.posts %}
    {% include "postslist.njk" %}
  </main>
</div>
