---
layout: layouts/base.njk
eleventyNavigation:
  key: CV/Resume
  order: 3
---
<div class="layout--2col">
	<main>
{% renderTemplate "md" %}
# James Basoo<span class="visually-hidden"> - </span><span class="subtitle">Front-end developer</span>

I am a creative front&#8209;end developer with 15 years of experience, specialising in e&#8209;commerce and web performance, currently focused on accessibility.

- **Email:** [jamesbasoo@gmail.com](jamesbasoo@gmail.com)
- **LinkedIn:** [https://www.linkedin.com/in/james-basoo/](https://www.linkedin.com/in/james-basoo/)
- **Phone:** Available on request
- **Website:** [https://jamesbasoo.com](https://jamesbasoo.com)
- **Location:** London, UK. 10 years experience working remotely.

## Experience

### GPMD (E&#8209;commerce Agency)<span class="visually-hidden"> - </span><span class="subtitle">Front End Developer</span>
#### 2013 - Present
I have contributed to innumerable D2C and B2B e&#8209;commerce websites across many sectors, working with clients new to e&#8209;commerce, ones looking to re-platform, and those needing to refresh their online presence. Some of the brands I have worked with include Muji, Japan Centre, NIP+FAB, Aram, Soho Home and Fenwick.

I often take the lead in research and development to keep us competitive in the ever changing technical landscape, and to upskill the team. In recent years I have been focused on web performance and accessibility, advising our clients on how best to serve their users and comply with regulations, as well as providing long&#8209;term, technical strategy.

- Developing bespoke themes and plugins/apps tailored to each client's specific e&#8209;commerce needs
- Developing in&#8209;house starter themes and component libraries with common features to increase client theme development velocity
- Creating and configuring automated developer tooling such as task runners, bundlers, and CI/CD
- Auditing client websites to advise on how to improve user experience, reduce technical issues, and increase conversion rates
- Collaborating with UI/UX designers, reviewing their designs to ensure technical and accessibility standards are met
- Evaluating third-party plugins/apps to determine if they meet performance and accessibility requirements
- Writing technical documentation for smoother team collaboration and user guides to help site editors create content
- Mentoring and onboarding junior developers to help them improve through shadowing and pair-programming
- Exploring the potential of apps/plugins as a secondary revenue stream, researching gaps in the market and developing proofs of concept

### EstatesIT (Software/IT/Web Development)<span class="visually-hidden"> - </span><span class="subtitle">Support Agent + Web Designer</span>
#### 2010 - 2013
Initially my role included phone and online support for software for estate agents, as well as the hardware for local branches. This evolved into a design/development position where I was responsible for creating automated print media such as brochures and adverts for properties. This was where I re-discovered web design and joined the web team designing and developing websites driven by the in&#8209;house software.

- Responding to phone calls and emails, assisting customers with software bugs and knowledge gaps
- Installing hardware including computers and networking gear, attending on-site call-outs to diagnose and address problems
- Designing and building custom websites for estate agents to display available properties using legacy tools such as ASP and jQuery mobile
{% endrenderTemplate %}
	</main>
	<aside>
{% renderTemplate "md" %}
## Skills
### Technical
- Development fundamentals
	- HTML, CSS, JS
	- Accessibility
	- Performance
	- Git
	- CI/CD
- Frameworks, libraries & tools
	- Web Components
	- Vue
	- Svelte
	- React
	- jQuery
	- Tailwind
	- Sass/Less
	- Liquid/Handlebars/Nunjucks
	- Eleventy
- Platforms
	- Shopify
	- BigCommerce
	- Shopware 5
	- Magento 2
	- Magento 1
	- Wordpress

### Interpersonal
- Project management
- Technical strategy and R&D
- Mentoring and knowledge sharing
- Public speaking and presenting

## Certifications
- Headless at Shopify for Developers (2025)
- BigCommerce Developer (2025)
- Liquid Storefronts for Theme Developers (2024)
- Shopware Developer (2018)
- Magento Front End Developer (2015)
{% endrenderTemplate %}
	</aside>
</div>
