---
layout: layouts/base.njk
eleventyNavigation:
  key: CV/Resume
  order: 3
---
<div class="layout--2col">
	<main>
{% renderTemplate "md" %}
# CV/Resume

I am a creative front&#8209;end developer with 15 years of experience, specialising in e&#8209;commerce and web performance, currently focused on accessibility.

- **Email:** [jamesbasoo@gmail.com](mailto:jamesbasoo@gmail.com)
- **LinkedIn:** [https://www.linkedin.com/in/james-basoo/](https://www.linkedin.com/in/james-basoo/)
- **Phone:** Available on request
- **Website:** [http://jamesbasoo.com](http://jamesbasoo.com)
- **Location:** London, UK. 10 years experience working remotely.

## Experience

### GPMD (2013 - Present)
I have contributed to innumerable D2C and B2B e&#8209;commerce websites across many sectors, working with clients new to e&#8209;commerce, ones looking to re&#8209;platform, and those needing to refresh their online presence. Some of the brands I have worked with include Muji, Japan Centre, NIP+FAB, Proviz, The River Cafe, Shoes For Crews, The Fish Society, Balance Me, Lazy Susan, Aram, Paxton & Whitfield, Cowshed, Soho Home, Fenwick and Budd Shirts.

I often take the lead in research and development to keep us competitive in the ever changing technical landscape. In recent years I have been focused on web performance and accessibility, advising our clients on how best to serve their users and comply with regulations, as well as providing long&#8209;term, technical strategy.

#### Responsibilities
- Client site theme development
- In&#8209;house core theme development
- In&#8209;house component library development
- Platform specific plugin/app development
- Task runner/bundler setup
- CI/CD setup
- Site audits
- Collaborating with UI/UX designers
- Plugin/app evaluation
- Leading internal workshops/research
- Contributing technical expertise to client workshops/discovery sessions
- Representing the company at events/conferences
- Technical documentation writing
- In&#8209;house content writing

### EstatesIT (2010 - 2013)
- Software support
- Hardware support
- Website design
{% endrenderTemplate %}
	</main>
	<aside>
{% renderTemplate "md" %}
## Skills
### Technical
- Fundamentals
	- HTML, CSS, JS
	- Accessibility
	- Performance
	- CI/CD
	- Git
- Frameworks, libraries & tools
	- Web Components
	- Vue
	- Svelte
	- React
	- jQuery
	- Tailwind
	- Sass/Less
	- Liquid/Handlebars/Nunjucks
	- Eleventy
- Platforms
	- Shopify
	- BigCommerce
	- Shopware 5
	- Magento 2
	- Magento 1
	- Wordpress

### Interpersonal
- Project leadership
- Technical strategy leadership
- Research & development organisation
- Mentoring & training
- Presenting

## Qualifications
- Headless at Shopify for Developers (2025)
- BigCommerce Developer (2025)
- Liquid Storefronts for Theme Developers (2024)
- Shopware Developer (2018)
- Magento Front End Developer (2015)

## Interests
Music, theatre, film, travel, technology, cooking.
{% endrenderTemplate %}
	</aside>
</div>
