---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 1
---
{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}

<div class="layout--1col">
	<main class="intro owl">
		<h1>
			Hi! I'm <span class="highlight-mask" title="Gradient text effect that is on literally every framework homepage right now">James</span>.<br>
			I make web stuff.
		</h1>

{% renderTemplate "md" %}
I'm a <s>front-end developer</s> <s>design engineer</s> <s>UX engineer</s> <s>creative technologist</s> human from the **UK** who has been making user-friendly, e-commerce experiences for over 10 years.

## Skills & Experience

I focus on the fundamentals of the web such as semantic, accessible **HTML**, scalable **CSS** architectures, and performant **JS** (as little as possible IMHO). Over the years I've gained familiarity with various languages, frameworks and platforms including **Tailwind**, **PHP**, **Vue**, **Magento**, **Shopware**, **BigCommerce**, **Shopify**, **Wordpress**, as well as many others that have come and gone *(RIP jQuery)*.
{% endrenderTemplate %}

{# <jab-carousel>
	<template>
		<ul>
			<li>
				<img src="" alt="">
				<p>Thing</p>
			</li>
			<li>
				<img src="" alt="">
				<p>Thing</p>
			</li>
			<li>
				<img src="" alt="">
				<p>Thing</p>
			</li>
			<li>
				<img src="" alt="">
				<p>Thing</p>
			</li>
			<li>
				<img src="" alt="">
				<p>Thing</p>
			</li>
		</ul>
	</template>
</jab-carousel> #}

{% renderTemplate "md" %}
## AFK
When I'm not pushing buttons, you'll find me travelling, tinkering with old cars or cooking fusion dishes that would enrage traditionalists.

## About this site
[This site](https://github.com/jbasoo/jamesbasoo) is built with [Eleventy](https://www.11ty.dev/), using [Eleventy Blog Starter](https://github.com/11ty/eleventy-base-blog). It's my sandbox so some things may or may not work in all browsers or be performant.
{% endrenderTemplate %}

<h2>Latest from the <a href="/blog">blog</a></h2>
{% set headingLevel = 3 %}
{% include "postslist.njk" %}
{% set headingLevel = 2 %}

{# <p>Pellentesque habitant morbi <a href="#" class="button">tristique</a> senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
<p>
	<strong>Pellentesque habitant morbi tristique</strong> senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. <em>Aenean ultricies mi vitae est.</em> Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, <code>commodo vitae</code>, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. <a href="#">Donec non enim</a> in turpis pulvinar facilisis. Ut felis.
</p>

<h2>Header Level 2</h2>

<ol>
	<li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
	<li>Aliquam tincidunt mauris eu risus.</li>
</ol>

<blockquote>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.</p>
</blockquote>

<h3>Header Level 3</h3>

<ul>
	<li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
	<li>Aliquam tincidunt mauris eu risus.</li>
</ul>

<pre><code>
#header h1 a {
display: block;
width: 300px;
height: 80px;
}
</code></pre> #}

{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}

	</main>
</div>
