---
layout: layouts/empty.njk
title: World Weird Web Generator
description: Generates styles, topics, and implementation ideas for weird websites.
---
<style>
	* { box-sizing: border-box; }

	body {
		min-block-size: 100dvh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 1rem;
		padding: 2rem;
		margin: 0;
		text-align: center;
	}

	header {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		gap: 1rem;
	}

	::backdrop {
		background: rgba(0,0,0,0.5);
	}

	dialog {
		inset: 1rem;
		overflow: auto;
		max-inline: calc(100dvh - 2rem);
		max-width: 600px;
		padding: 1rem;
		text-align: initial;
	}

	h1, output {
		text-wrap: balance;
	}
	
	/*
		text-wrap: balance; doesnt work on output tags?
	*/
</style>

<dialog id="why" popover>
		<h2>Why?</h2>
    <p><a href="https://mastodon.social/@hdv@front-end.social">Hidde</a> did a talk at CSS Day including his book reading site. <a href="https://mastodon.social/@sophie@social.lol">Sophie</a> did a talk about <s>pointless</s> fun personal sites and someone asked how to find insipration for creating a personal site.</p>
		
		<p>Also what's more <s>pointless</s> fun than a joke generator?</p>
		
		<p><em>I'll be honest I didn't check the data so hopefully nothing too inappropriate shows up.</em> 🤷‍♂️</p>
		
    <h2>Data</h2>
    <ul>
      <li><a href="https://aesthetics.fandom.com/wiki/List_of_Aesthetics">Styles</a> + some eras</li>
      <li><a href="https://en.m.wikipedia.org/wiki/List_of_hobbies">Hobbies</a></li>
      <li><a href="https://developer.mozilla.org/en-US/docs/Web/CSS/Reference#index">CSS Properties</a></li>
    </ul>
    <footer><em>Made By <a href="https://jamesbasoo.com">James Basoo</a></em></footer>
</dialog>

<header>
  <h1>World-weird-web generator</h1>
  <button type="button" popovertarget="why">Why?</button>
</header>

<main>
  <output>Make a <em><strong>${aesthetic}</strong></em> style website about <em><strong>${hobby}</strong></em> using <strong>${cssProperty}</strong></output>
</main>

<footer>
  <button type="button" id="generator">Generate</button>
</footer>

<script>
	function getRandomItem(items) {
		return items[Math.floor(Math.random()*items.length)];
	}

	var styles = [
			"1600s",
			"1700s",
			"1800s",
			"1900s",
			"1910s",
			"1920s",
			"1930s",
			"1940s",
			"1950s",
			"1960s",
			"1970s",
			"1980s",
			"1990s",
			"2000s",
			"2010s",
			"2020s",
			"1950's Suburbia",
			"2-Tone",
			"2000's Autumn",
			"2010s Internet",
			"2014-era tumblr",
			"2014 Girly Tumblr",
			"2020 Alt",
			"2K1",
			"2K7",
			"80s Ballroom",
			"80s Heart-Throb",
			"Abstract Tech",
			"Acid Pixie",
			"Acidwave",
			"Acubi",
			"Adventurecore",
			"Adventure Pulp",
			"Aetherpunk",
			"Afrofuturism",
			"Afro-Victorian",
			"After Hours",
			"Agropeople",
			"Ah Beng",
			"Alien",
			"Alternative",
			"Amateur Photography",
			"Americana",
			"American Pioneers",
			"American Revolution",
			"American Thanksgiving",
			"American Tourist Traps",
			"Amourdoux",
			"Analog Horror",
			"Ancient Egypt",
			"Androgynous",
			"Angelcore",
			"Anglocore",
			"Anglo Gothic",
			"Angura",
			"Animecore",
			"Anoncore",
			"Anti-Fashion",
			"Antique Grunge",
			"Arcade",
			"Arcadecore",
			"Art Academia",
			"Artcore",
			"Art Deco",
			"Art Hoe",
			"Art Nouveau",
			"Artificial Nature",
			"Arts and Crafts Movement",
			"Asian Baby Girl",
			"Athlete",
			"Atompunk",
			"Auroracore",
			"Australiana",
			"Australian Outback",
			"Autumn",
			"Autumn Academia",
			"Avant Apocalypse",
			"Avant-garde",
			"Babycore",
			"Babygirl",
			"Back-to-School",
			"Baddie",
			"Baidexweb",
			"Bakala",
			"Ballet Academia",
			"Balletcore",
			"Baltic Violence Tumblr",
			"Barbiecore",
			"Bardcore",
			"Baroque",
			"Bastardcore",
			"Bauhaus",
			"BDSM",
			"Beach Bunny",
			"Beach Day",
			"Beach Girl",
			"Beatnik",
			"Biker",
			"Bimbocore",
			"Biopunk",
			"Bizarro Fiction",
			"Black Metal",
			"Bleak Crush",
			"Blokecore",
			"Blokette",
			"Bloomcore",
			"Blue Night",
			"B-Movie Horror",
			"Bodikon",
			"Bohemian",
			"Bombacore",
			"Bookstore Girl",
			"Bosozoku",
			"Boujee",
			"Breakcore",
			"Brazilian Pop Bar",
			"Britpop",
			"Bro",
			"Bronzepunk",
			"Bubble Bujo",
			"Bubble Goth",
			"Bubblegum Bitch",
			"Bubblegum Dance",
			"Bubblegum Witch",
			"Busukawaii",
			"Cabincore",
			"Cagole",
			"Camp",
			"Campcore",
			"Carnivalcore",
			"Cartelcore",
			"Cartooncore",
			"Casino",
			"Cassette Futurism",
			"Cavecore",
			"Celtic",
			"Changelingcore",
			"Chaotic Academia",
			"Chav",
			"Cheiron Crush",
			"Cherry Emoji Twitter",
			"Chic Modernist",
			"Chicano Lowrider",
			"Cholo",
			"Choni",
			"Christcore",
			"Christian Girl Autumn",
			"Christmas",
			"Chromecore",
			"Chunyu",
			"City Pop",
			"Classic Academia",
			"Classicism",
			"Classic Lolita",
			"Cleancore",
			"Clockpunk",
			"Clowncore",
			"Club",
			"Club Kids",
			"Cluttercore",
			"Coastal Grandmother",
			"Coffee House/Cafe",
			"Coffinwood",
			"Comfy/Cozy",
			"Color Pop",
			"Common White Girl",
			"Constructivism",
			"Corporate",
			"Corporate Grunge",
			"Corporate Memphis",
			"Corporate Punk",
			"Cottagecore",
			"Cottagegore",
			"Coquette",
			"Coquette Academia",
			"Country",
			"Cozy Childhood Hideaway",
			"C-Pop",
			"Crackhead",
			"Craftcore",
			"Cripplepunk",
			"Crowcore",
			"Crustpunk",
			"Cryptid Academia",
			"Cryptidcore",
			"Cubism",
			"Cuddle Party",
			"Cultcore",
			"Cult Party Kei",
			"Cutecore",
			"Cyberdelic",
			"Cyber Fairy Grunge",
			"Cyberghetto",
			"Cybergoth",
			"Cybergrunge",
			"CyberneticPunk",
			"Cyberparadism",
			"Cyberpop",
			"Cyberprep",
			"Cyberpunk",
			"Cyberspace Webrooms",
			"Cybervillain",
			"Danish Pastel",
			"Dank Meme Voyage",
			"Dark Academia",
			"Darkcore",
			"DarkErrorcore",
			"Darkest Academia",
			"Dark Fantasy",
			"Dark Gatsby",
			"Dark Naturalism",
			"Dark Nautical",
			"Dark Nymphet",
			"Dark Paradise",
			"Dark Y2K",
			"Daydreampunk",
			"Dazecore",
			"Deathcore",
			"Deathrock",
			"Decopunk",
			"Decora",
			"Delicate Sweet",
			"Denpa Kei",
			"Desertwave",
			"Desi Romantic Academia",
			"De Stijl",
			"Dethereal",
			"Devilcore",
			"Dieselpunk",
			"Digital Horror",
			"Digital Oddity",
			"Diner",
			"Dionysism",
			"Disco",
			"Dokukawaii",
			"Dollar Store Vernacular",
			"Dollcore",
			"Dollette",
			"Dolly Kei",
			"Doodlecore",
			"DORFic",
			"Downtown Girl",
			"Dracopunk",
			"Dragoncore",
			"Drain",
			"Dreamcore",
			"Dream Punk",
			"Dreamy",
			"Driftcore",
			"Drugcore",
			"Dual Kawaii",
			"Dullcore",
			"Dungeoncore",
			"Dungeonpunk",
			"Dungeon Synth",
			"Dutch Golden Age",
			"Earthcore",
			"E-Boy",
			"E-Girl",
			"Edgy Meme",
			"ElectroPop 08",
			"Electro Swing",
			"Elizabethan England",
			"Emo",
			"English Major",
			"Equestrian",
			"Erokawa",
			"Eshay",
			"Ethereal",
			"Europunk",
			"EXEcore",
			"Expressionism",
			"Fairy Academia",
			"Fairycore",
			"Fairy Grunge",
			"Fairy Kei",
			"Fairy Tale",
			"Fanfare",
			"Fantasy",
			"Fantasy Astronomy",
			"FantasY2K",
			"Farmer's Daughter",
			"Fashwave",
			"Fauvism",
			"Feísmo",
			"Femboy",
			"Femcel Weeaboo",
			"Femme Fatale",
			"Feralcore",
			"Fieldcore",
			"Film Noir",
			"Flapper",
			"Flat Design",
			"Floral Academia",
			"Floral Metro",
			"Folk Punk",
			"Foodie",
			"Forestpunk",
			"French Girl",
			"French Girly",
			"Frogcore",
			"Frutiger Aero",
			"Frutiger Eco",
			"Frutiger Metro",
			"Funky Seasons",
			"Furry",
			"Future Funk",
			"Futurism",
			"Gadgetpunk",
			"Game Night",
			"Gamercore",
			"Gamine",
			"Gangstæxtemism",
			"Gangstas with Waifus",
			"Gardencore",
			"Geek",
			"Gen X Soft Club",
			"Gen Z Maximalism",
			"Ghostcore",
			"Girl-Next-Door",
			"Glam Girl",
			"Glamorous Los Angeles",
			"Glam Rock",
			"Glassmorphism",
			"Glitchcore",
			"Global Village Coffeehouse",
			"Gloomcore",
			"Glowwave",
			"Goblin Academia",
			"Goblincore",
			"Golden Age of Detective Fiction",
			"Golden Hour",
			"Goofcore",
			"Gopnik",
			"Gorecore",
			"Gorpcore",
			"Goth",
			"Gothcore",
			"Gothic",
			"Gothic Lolita",
			"Grandmillenial",
			"Grandparentcore",
			"Grasscore",
			"Greaser",
			"Green Academia",
			"Grey Academia",
			"Grifes",
			"Grindhouse",
			"Gross-Out Horror",
			"Groundcore",
			"Grunge",
			"Gurokawa",
			"Gyaru",
			"Hair Metal",
			"Halloween",
			"Hallyu",
			"Happycore",
			"Hatecore",
			"Hauntology",
			"Haussmann Paris",
			"Health Goth",
			"Heatwave",
			"Heisei Retro",
			"Heistcore",
			"Hellenic",
			"Helvetica Aqua Aero",
			"Hermaphroditus",
			"Hermitpunk",
			"Hexatron",
			"Highlandcore",
			"High School Dream",
			"Hikecore",
			"Hime Lolita",
			"Hi-NRG",
			"Hip-Hop",
			"Hipness Purgatory",
			"Hippie",
			"Hipster",
			"Historical Americana",
			"Holosexual",
			"Home 2K",
			"Honeycore",
			"Horror",
			"Horror Academia",
			"Hot Topic",
			"Hydrogen",
			"Hyperpop",
			"Icepunk",
			"Imaginarium",
			"Impressionism",
			"Indicolite",
			"Indie",
			"Indiecraft",
			"Indie Kid",
			"Indie Sleaze",
			"Internet Academia",
			"I-Spy",
			"Italian Mafia",
			"Italian Renaissance",
			"Italo Disco",
			"Itasha",
			"Jamcore",
			"Japanese New Left",
			"Jejemon",
			"Jersey Shore",
			"Jock",
			"Joyride",
			"Juggalo",
			"Junglecore",
			"Jungle Grunge",
			"Kaguras",
			"Karasu Zoku",
			"Kawaii",
			"Kawaii Gamer",
			"Key West Kitten",
			"Kidcore",
			"Kid Science",
			"Kimoicore",
			"Kinderwhore",
			"Kingcore",
			"King Gas",
			"Kiwiana",
			"Knightcore",
			"Kogal",
			"Korean Cozy Beige",
			"Kuromicore",
			"Labcore",
			"Laborwave",
			"Lagenlook",
			"Larme Kei",
			"La Sape",
			"Late 2000s Elementary School",
			"Libertywave",
			"Lichencore",
			"Light Academia",
			"Lightcore",
			"Lightningwave",
			"Lilac Femme",
			"Lil Girl",
			"Liminal Space",
			"Lit Kid",
			"Lobotomy-Chic",
			"Lo-Fi",
			"Lolita",
			"Long Island",
			"Lounge",
			"Lovecore",
			"Low Poly",
			"Lunarpunk",
			"Luxury",
			"Macaute",
			"Mad Scientist",
			"Magepunk",
			"Magewave",
			"Magical Girls",
			"Maidcore",
			"Mallgoth",
			"Mall Ninja",
			"Mallsoft",
			"Manguebeat",
			"Mansfieldcore",
			"Maximalism",
			"McBling",
			"Meatcore",
			"Medicalcore",
			"Medieval",
			"Medieval Fantasy",
			"Memphis",
			"Mermaid",
			"Messy French Girl",
			"Metal",
			"Metalcore",
			"Metalheart",
			"Metrosexual",
			"Miami Metro",
			"Midwest Emo",
			"Midwest Gothic",
			"Military",
			"Milk",
			"Mind Murder",
			"Miniaturecore",
			"Minimalism",
			"Minivan Rock",
			"Miscellaneous Academia",
			"Mizuiro",
			"MLG",
			"Mod",
			"Modernism",
			"Monumentality",
			"Mori Kei",
			"Morute",
			"Motomami",
			"Mosscore",
			"Mote Kei",
			"Movida Madrileña",
			"MS Paint",
			"MTV Green Sky",
			"Mulchcore",
			"Mushroomcore",
			"Musical Academia",
			"Mythpunk",
			"Nanchatte Seifuku",
			"Nanopunk",
			"NATOwave",
			"Naturecore",
			"Nautical",
			"Nautical Fantasy",
			"Nazi Chic",
			"Neko",
			"Neoclassicism",
			"Neo-Romanism",
			"Neo-Tokyo",
			"Neo-Vikings",
			"Nerd",
			"Nerdcore",
			"Neumorphism",
			"New Age",
			"New England Gothic",
			"New Figuration",
			"New Money",
			"New Romantic",
			"New Wave",
			"Night Luxe",
			"Nintencore",
			"Normcore",
			"Northerness",
			"Nostalgiacore",
			"Nuclear",
			"Nu-Goth",
			"Nu-Metal",
			"Nu-Punk",
			"Nymphet",
			"Ocean Academia",
			"Ocean Grunge",
			"Oceanpunk",
			"Offlinecore",
			"Olderbrothercore",
			"Old Hollywood",
			"Old Memecore",
			"Old Money",
			"Old Web",
			"Onii Kei",
			"Oshare Kei",
			"Otaku",
			"Otherkin",
			"Pachuco",
			"Pale Grunge",
			"Paleocore",
			"Palewave",
			"Paramilitary",
			"Party Animal",
			"Party Kei",
			"Pastel Academia",
			"Pastel Gore",
			"Pastel Goth",
			"Pastel Punk",
			"PC Music",
			"Peach",
			"Peaky Blinders",
			"Pearly",
			"Peoplehood",
			"Petcore",
			"Phony Bureaucracy",
			"Photorealism",
			"Pig in Jacuzzicore",
			"Pink Parisian",
			"Pink Pilates Princess",
			"Pink Princess",
			"Pin-up",
			"Pirate",
			"Pixel Cutie",
			"Pixel Medieval Fantasy",
			"Pixelscape",
			"Pixiecore",
			"Plaguecore",
			"Plant Mom",
			"Playboy",
			"Poetcore",
			"Poolcore",
			"Pop Art",
			"Pop Kei",
			"Post-Apocalyptic",
			"Post-Impressionism",
			"Post-Punk",
			"Post-rock",
			"Powwow Step",
			"Prairiecore",
			"Prehistoricore",
			"Preppy",
			"Prehistoricore",
			"Pre-Raphaelite",
			"Pretty Preppy",
			"Pride flags",
			"Princecore",
			"Princesscore",
			"Printcore",
			"Progressive Academia",
			"Psychedelica",
			"Psychonaut",
			"Punk",
			"Purism",
			"Quality Tumblr",
			"Queencore",
			"Queer Academia",
			"Queercore",
			"Queer Villainy",
			"R&amp;B",
			"Racaille",
			"Ragecore",
			"Rainbowcore",
			"Rainy Day",
			"Randumb",
			"Rangercore",
			"Ratcore",
			"Ravencore",
			"Raver",
			"Raxet",
			"Raygun Gothic",
			"Real Life Super Hero",
			"Realism",
			"Rebel Academia",
			"Red Academia",
			"Reefwave",
			"Regency",
			"Regional Gothic",
			"Renewable Corporate Futurism",
			"Retro Fairycore",
			"Retro-Futurism",
			"Rivethead",
			"Roaring 20s",
			"Robotcore",
			"Robotics Kids",
			"Rock",
			"Rockabilly",
			"Rocketpunk",
			"Rockstar GF",
			"Rococo",
			"Roguecore",
			"Rollerwave",
			"Romantic Academia",
			"Romantic Goth",
			"Romanticism",
			"Romantic Italian",
			"Rotcore",
			"Royalcore",
			"Rusticcore",
			"Sacricore",
			"Sad people",
			"Salon Kei",
			"Salvagepunk",
			"Sandalpunk",
			"Sanriocore",
			"Scene",
			"Schizowave",
			"Science Academia",
			"Scoutcore",
			"Scrapbook",
			"Scrapper",
			"Seapunk",
			"Sega Uranus",
			"Selkiecore",
			"Shabby Chic",
			"Shamate",
			"Shanzhai",
			"Sharpies",
			"Shibuya Punk",
			"Shiny Suit 97",
			"Shironuri",
			"Shoegaze",
			"Sigilkore",
			"Sigma Male",
			"Silicon Dreams",
			"Silkpunk",
			"Sizz",
			"Skater",
			"Skeuomorphism",
			"Skinheads",
			"Slimepunk",
			"Sloanie",
			"Sleepycore",
			"Slutcore",
			"Smilecore",
			"Snow Bunny",
			"Snowdrop",
			"Social Science Academia",
			"Soft Apocalypse",
			"Soft Colonial Wanderlust",
			"Soft Countriana",
			"Soft Grunge",
			"Softie",
			"Soft Indie",
			"Soft Macabre",
			"Soft Morningcore",
			"Soggy",
			"Solarpunk",
			"Southern Belle",
			"Southern Gothic",
			"Soviet",
			"Soviet Bloc School",
			"Sovietwave",
			"Spacecore",
			"Sparklecore",
			"Spiritcore",
			"Spriggancore",
			"Spring",
			"Spy Fiction",
			"Starrflesh",
			"Steampunk",
			"Steelpunk",
			"Stellar Scholar",
			"Stilyagi",
			"Stimwave",
			"Stonepunk",
			"Stoner",
			"Stripcore",
			"Studyblr",
			"Studyplace",
			"Suburban Gothic",
			"Sukeban",
			"Summer",
			"Superflat Pop",
			"Suprematism",
			"Surf Crush",
			"Surrealism",
			"Surreal Memer",
			"Sweet Lolita",
			"Swenkas",
			"Swordpunk",
			"Synthwave",
			"Tacticool",
			"Taisho Roman",
			"Takenokozoku",
			"Tanbi Kei",
			"Tango",
			"Technical Scene",
			"Technocore",
			"Technoneko2000",
			"Technozen",
			"Techwear",
			"Teddies",
			"Teenage Dream",
			"Teenagers in the Woods",
			"Teenqueen",
			"Telstracore",
			"TenderCore",
			"Terrorwave",
			"Teslapunk",
			"That Girl",
			"Theatre Academia",
			"Theatre Kids",
			"Thrasher",
			"Thriftcore",
			"Tiki",
			"Tinkercore",
			"Tinycore",
			"Tomboy",
			"Toxic Core",
			"Toycore",
			"Trad Goth",
			"Trailer Park Princess",
			"Trashcore",
			"Trashy Raver",
			"Traumacore",
			"Trenchcore",
			"Trendercore",
			"Trillwave",
			"Tropical",
			"Tumblewave",
			"Tupinipunk",
			"Twee",
			"Tweencore",
			"Ukiyo-e",
			"Ultraviolet Crush",
			"Unicorncore",
			"Uptown Girl",
			"Urban Fantasy",
			"Urbancore",
			"UrBling",
			"Utopian Scholastic",
			"Vacation Dadcore",
			"Vampire",
			"Vaporwave",
			"VARIOUSXYZ",
			"Vectorbloom",
			"Vectorheart",
			"Vh1 Sepia Sky",
			"Vibrant Academia",
			"Victorian",
			"Victorian Goth",
			"Victorian Urban Poverty",
			"Viking",
			"Villagecore",
			"Villaincore",
			"Vintage Americana",
			"Vintage British Sportsman",
			"Vintage Hero",
			"Vintage Parisian",
			"Virgo's Tears",
			"Visual Kei",
			"Voidcore",
			"Voidpunk",
			"Vorticism",
			"VSCO",
			"VSCO Preppy",
			"Vulture Culture",
			"Wabi-Sabi",
			"Waif",
			"Waldorf",
			"Wanderlust",
			"Warmcore",
			"Weathercore",
			"Web Creep",
			"Weeaboo",
			"Weirdcore",
			"Welwitschia Goth",
			"Werewolf",
			"Western",
			"Wetcore",
			"Whimsigothic",
			"Wild Child",
			"Winter",
			"Winter Academia",
			"Winter Fairy Coquette",
			"Witchcore",
			"Witch House",
			"Witchy Academia",
			"Wizardcore",
			"Wonderland",
			"Woodland Goth",
			"Wormcore",
			"Writer Academia",
			"Wuxia",
			"XO",
			"Y2K",
			"Yakuza",
			"Yami Kawaii",
			"Yandere",
			"Yankeecore",
			"Yanki",
			"Yellow Academia",
			"Youthquake",
			"Yume Kawaii",
			"Zombiecore"
	];
	var hobbies = [
			"3D printing",
			"Acroyoga",
			"Acting",
			"Alternate history",
			"Amateur radio",
			"Animation",
			"Anime",
			"Art",
			"Audiophilia",
			"Baton twirling",
			"Beatboxing",
			"Beer tasting",
			"Bell ringing",
			"Binge watching",
			"Bird watching",
			"Blacksmith",
			"Blogging",
			"Bonsai",
			"Board/tabletop games",
			"Book discussion clubs",
			"Book restoration",
			"Bowling",
			"Brazilian jiu-jitsu",
			"Breadmaking",
			"Bullet journaling",
			"Butchering",
			"Calligraphy",
			"Candle making",
			"Candy making",
			"Car spotting",
			"Car fixing &amp; building",
			"Card games",
			"Cardistry",
			"Ceramics",
			"Chatting",
			"Cheesemaking",
			"Chess",
			"Cleaning",
			"Clothesmaking",
			"Coffee roasting",
			"Collecting",
			"Coloring",
			"Communication",
			"Community activism",
			"Community radio",
			"Computer programming",
			"Confectionery",
			"Conlanging",
			"Construction",
			"Cooking",
			"Cosplaying",
			"Couponing",
			"Craft",
			"Creative writing",
			"Crocheting",
			"Cross-stitch",
			"Crossword puzzles",
			"Cryptography",
			"Cue sports",
			"Dance",
			"Decorating",
			"Decorative birds",
			"Digital arts",
			"Dining",
			"Diorama",
			"Distro Hopping",
			"Diving",
			"Djembe",
			"DJing",
			"Do it yourself",
			"Drama",
			"Drawing",
			"Drone racing",
			"Editing",
			"Electronic games",
			"Electronics",
			"Embroidery",
			"Engraving",
			"Entertaining",
			"Everyday carry",
			"Experimenting",
			"Fantasy sports",
			"Fashion",
			"Fashion design",
			"Feng shui decorating",
			"Filmmaking",
			"Fingerpainting",
			"Fishfarming",
			"Fishkeeping",
			"Flower arranging",
			"Fly tying",
			"Foreign language learning",
			"Furniture building",
			"Gambling",
			"Genealogy",
			"Gingerbread house making",
			"Giving advice",
			"Glassblowing",
			"Gardening",
			"Gongfu tea",
			"Graphic design",
			"Gunsmithing",
			"Hacking",
			"Hairstyle",
			"Hardware",
			"Herping",
			"Herp keeping",
			"Hobby finding",
			"Home improvement",
			"Homebrewing",
			"Homing pigeons",
			"Hula hooping",
			"Hydroponics",
			"Ice skating",
			"Insect collecting",
			"Inventing",
			"Jewelry making",
			"Jigsaw puzzles",
			"Journaling",
			"Judo",
			"Juggling",
			"Karaoke",
			"Karate",
			"Kendama",
			"Kitemaking",
			"Knife making",
			"Knitting",
			"Knot tying",
			"Kombucha brewing",
			"Kung fu",
			"Kun khmer",
			"Lace making",
			"Lapidary",
			"Leather crafting",
			"Lego building",
			"Livestreaming",
			"Listening to music",
			"Listening to podcasts",
			"Lock picking",
			"Machining",
			"Macrame",
			"Magic",
			"Makeup",
			"Manga",
			"Massaging",
			"Mazes (indoor/outdoor)",
			"Mechanics",
			"Meditation",
			"Memory training",
			"Metalworking",
			"Micropatriology",
			"Miniature art",
			"Minimalism",
			"Model building",
			"Modeling",
			"Model engineering",
			"Music",
			"Nail art",
			"Needlepoint",
			"Origami",
			"Painting",
			"Pen Spinning",
			"Performance",
			"Pet care",
			"Pet sitting",
			"Philately",
			"Photography",
			"Pilates",
			"Pipes",
			"Planning",
			"Plastic art",
			"Playing musical instruments",
			"Poetry",
			"Poi",
			"Pole dancing",
			"Pornography",
			"Postcrossing",
			"Pottery",
			"Practical jokes",
			"Pressed flower craft",
			"Proofreading and editing",
			"Proverbs",
			"Public speaking",
			"Puppetry",
			"Puzzles",
			"Pyrography",
			"Quilling",
			"Quilting",
			"Quizzes",
			"Radio-controlled model playing",
			"Rail transport modeling",
			"Rapping",
			"Reading",
			"Recipe creation",
			"Recreational drug use",
			"Refinishing",
			"Reiki",
			"gadgets",
			"Robot combat",
			"Role-playing",
			"Rubik's Cube",
			"Scrapbooking",
			"Scuba diving",
			"Sculpting",
			"Sewing",
			"Shoemaking",
			"Singing",
			"Sketching",
			"Skipping rope",
			"Slot car",
			"Shopping",
			"Soapmaking",
			"Social media",
			"Songwriting",
			"Speedrunning",
			"Speculative evolution",
			"Spreadsheets",
			"Stamp collecting",
			"Stand-up comedy",
			"Storytelling",
			"Stretching",
			"String Figures",
			"Stripping",
			"Sudoku",
			"Talking",
			"Tabletop game",
			"Taekwondo",
			"Tanning (leather)",
			"Tapestry",
			"Tarot",
			"Tattooing",
			"Taxidermy",
			"Telling jokes",
			"Thrifting",
			"Upcycling",
			"Video editing",
			"Video game developing",
			"Video gaming",
			"Video making",
			"VR gaming",
			"Wargaming",
			"Watch making",
			"Watching documentaries",
			"Watching movies",
			"Watching television",
			"Wax sealing",
			"Waxing",
			"Weaving",
			"Webtooning",
			"Weight training",
			"Welding",
			"Whittling",
			"Wikipedia editing",
			"Wikipedia racing/Wikiracing",
			"Wine tasting",
			"Winemaking",
			"Witchcraft",
			"Wood carving",
			"Woodworking",
			"Word searches",
			"Worldbuilding",
			"Writing",
			"Writing music",
			"Yarn bombing",
			"Yo-yoing",
			"Yoga",
			"Zumba",
			"Air sports",
			"Amateur geology",
			"Amusement park visiting",
			"Archery",
			"Auto detailing",
			"Automobilism",
			"Astronomy",
			"Backpacking",
			"Badminton",
			"BASE jumping",
			"Baseball",
			"Basketball",
			"Beachcombing",
			"Beekeeping",
			"Birdwatching",
			"Blacksmithing",
			"BMX",
			"Board sports",
			"Bodybuilding",
			"Camping",
			"Canoeing",
			"Canyoning",
			"Carrier pigeons",
			"Car riding",
			"Car tuning",
			"Caving",
			"City trip",
			"Climbing",
			"Composting",
			"Croquet",
			"Cycling",
			"Dairy Farming",
			"Dandyism",
			"Darts",
			"Disc golf",
			"Dodgeball",
			"Dog training",
			"Dog walking",
			"Dowsing",
			"Dragon boat",
			"Driving",
			"Farming",
			"Fishing",
			"Flag football",
			"Flower growing",
			"Flying",
			"Flying disc",
			"Flying model planes",
			"Foraging",
			"Fossicking",
			"Freestyle football",
			"Fruit picking",
			"Gardening",
			"Geocaching",
			"Ghost hunting",
			"Gold prospecting",
			"Graffiti",
			"Groundhopping",
			"Guerrilla gardening",
			"Gymnastics",
			"Handball",
			"Herbalism",
			"Herping",
			"High-power rocketry",
			"Hiking",
			"Hobby horsing",
			"Hobby tunneling",
			"Hooping",
			"Horseback riding",
			"Hunting",
			"Inline skating",
			"Jogging",
			"Jumping rope",
			"Karting",
			"Kayaking",
			"Kite flying",
			"Kitesurfing",
			"Lacrosse",
			"LARPing",
			"Letterboxing",
			"Lomography",
			"Longboarding",
			"Martial arts",
			"Magnet fishing",
			"Metal detecting",
			"Motorcycling",
			"Meteorology",
			"Motor sports",
			"Mountain biking",
			"Mountaineering",
			"Museum visiting",
			"Mushroom hunting",
			"mycology",
			"Netball",
			"Noodling",
			"Nordic skating",
			"Orienteering",
			"Paintball",
			"Paragliding",
			"Parkour",
			"Photography",
			"Pickleball",
			"Picnicking",
			"Podcast hosting",
			"Polo",
			"Powerlifting",
			"Public transport riding",
			"Qigong",
			"Radio-controlled model playing",
			"Rafting",
			"Railway journeys",
			"Railway modelling",
			"Rappelling",
			"Renaissance fair",
			"Renovating",
			"Road biking",
			"Rock climbing",
			"Rock painting",
			"Roller skating",
			"Roundnet",
			"Rugby",
			"Running",
			"Safari",
			"Sailing",
			"Sand art",
			"Sandboarding",
			"Scouting",
			"Scuba diving",
			"Sculling",
			"rowing",
			"Shooting",
			"Shopping",
			"Shuffleboard",
			"Skateboarding",
			"Skiing",
			"Skimboarding",
			"Skydiving",
			"Slacklining",
			"Sledding",
			"Snorkeling",
			"Snowboarding",
			"Snowmobiling",
			"Snowshoeing",
			"Soccer",
			"Squirrel fishing",
			"Stone skipping",
			"Storm chasing",
			"Sun bathing",
			"Surfing",
			"Survivalism",
			"Swimming",
			"Table tennis playing",
			"Taekwondo",
			"Tai chi",
			"Tennis",
			"Thru-hiking",
			"Topiary",
			"Tourism",
			"Trade fair visiting",
			"Travel",
			"Unicycling",
			"Urban exploration",
			"Vacation",
			"Vegetable farming",
			"Vehicle restoration",
			"Videography",
			"Volleyball",
			"Volunteering",
			"Walking",
			"Water sports",
			"Zoo visiting",
			"Archaeology",
			"Architecture",
			"Astronomy",
			"Animation",
			"Aerospace",
			"Biology",
			"Botany",
			"Business",
			"Chemistry",
			"Egyptology",
			"Engineering",
			"Entrepreneurship",
			"Finance",
			"Geography",
			"History",
			"Jurisprudential",
			"Linguistics",
			"Literature",
			"Mathematics",
			"Medical science",
			"Microbiology",
			"Mycology",
			"Myrmecology",
			"Neuroscience",
			"Pesquisa",
			"Philosophy",
			"Physics",
			"Psychology",
			"Publishing",
			"Railway studies",
			"Religious studies",
			"Research",
			"Science and technology studies",
			"Social studies",
			"Sociology",
			"Sports science",
			"Story writing",
			"Life science",
			"Teaching",
			"Web design",
			"Wikipedia editing",
			"Action figure",
			"Antiquing",
			"Ant-keeping",
			"Art collecting",
			"Book collecting",
			"Button collecting",
			"Cartophily",
			"Cassette tapes",
			"Coin collecting",
			"Comic book collecting",
			"Compact discs",
			"Crystals",
			"Deltiology",
			"Die-cast toy",
			"Digital hoarding",
			"Dolls",
			"Element collecting",
			"Ephemera collecting",
			"Films",
			"Fingerprint collecting",
			"Fusilately",
			"Knife collecting",
			"Lapel pins",
			"Lotology",
			"Movie memorabilia collecting",
			"Notaphily",
			"Perfume",
			"Philately",
			"Phillumeny",
			"Radio-controlled model collecting",
			"Rail transport modelling",
			"Record collecting",
			"Rock tumbling",
			"Scutelliphily",
			"Shoes",
			"Slot car",
			"Sneakers",
			"Sports memorabilia",
			"Stamp collecting",
			"Stuffed toy collecting",
			"Tea bag collecting",
			"Ticket collecting",
			"Transit map collecting",
			"Video game collecting",
			"Vintage cars",
			"Vintage clothing",
			"Vinyl records",
			"Antiquities",
			"Auto audiophilia",
			"Flower collecting and pressing",
			"Fossil hunting",
			"Insect collecting",
			"Leaves",
			"Magnet fishing",
			"Metal detecting",
			"Mineral collecting",
			"Rock balancing",
			"Sea glass collecting",
			"Seashell collecting",
			"Stone collecting",
			"Air hockey",
			"Animal fancy",
			"Axe throwing",
			"Backgammon",
			"Badminton",
			"Baking",
			"Ballet dancing",
			"Ballroom dancing",
			"Baton twirling",
			"Beauty pageants",
			"Billiards",
			"Book folding",
			"Bowling",
			"Boxing",
			"Bridge",
			"Cooking",
			"Checkers (draughts)",
			"Cheerleading",
			"Chess",
			"Color guard",
			"Cribbage",
			"Curling",
			"Dancing",
			"Darts",
			"Debate",
			"Dominoes",
			"Eating",
			"Esports",
			"Fencing",
			"Figure Skating",
			"Go",
			"Gymnastics",
			"Ice hockey",
			"Ice skating",
			"Judo",
			"Jujitsu",
			"Kabaddi",
			"Knowledge/word games",
			"Laser tag",
			"Magic",
			"Mahjong",
			"Marbles",
			"Martial arts",
			"Model United Nations",
			"Pinball",
			"Poker",
			"Pole dancing",
			"Pool",
			"Radio-controlled model playing",
			"Role-playing games",
			"Rughooking",
			"Shogi",
			"Slot car racing",
			"Speedcubing",
			"Speedrunning",
			"Sport stacking",
			"Table football",
			"Table tennis",
			"Tiddlywinks",
			"Volleyball",
			"Video gaming",
			"VR gaming",
			"Weightlifting",
			"Wrestling",
			"Airsoft",
			"Archery",
			"Association football",
			"Australian rules football",
			"Auto racing",
			"Baseball",
			"Beach volleyball",
			"Breakdancing",
			"Capoeira",
			"Climbing",
			"Cornhole",
			"Cricket",
			"Croquet",
			"Cycling",
			"Disc golf",
			"Dog sport",
			"Equestrianism",
			"Exhibition drill",
			"Field hockey",
			"Figure skating",
			"Fishing",
			"Fitness",
			"Footbag",
			"Frisbee",
			"Golfing",
			"Handball",
			"Horseback riding",
			"Horsemanship",
			"Horseshoes",
			"Iceboat racing",
			"Jukskei",
			"Kart racing",
			"Knife throwing",
			"Lacrosse",
			"Longboarding",
			"Long-distance running",
			"Marching band",
			"Mini golf",
			"Model aircraft",
			"Orienteering",
			"Pickleball",
			"Powerboat racing",
			"Quidditch",
			"Race walking",
			"Racquetball",
			"Radio-controlled car racing",
			"Radio-controlled model playing",
			"Roller derby",
			"Rugby league football",
			"Sculling",
			"rowing",
			"Shooting sports",
			"Skateboarding",
			"Skiing",
			"Sled dog racing",
			"Softball",
			"Speed skating",
			"Squash",
			"Surfing",
			"Swimming",
			"Table tennis",
			"Tennis",
			"Tennis polo",
			"Tether car",
			"Tour skating",
			"Tourism",
			"Trapshooting",
			"Triathlon",
			"Ultimate frisbee",
			"Volleyball",
			"Water polo",
			"Audiophile",
			"Ant farming",
			"Fishkeeping",
			"Learning",
			"Meditation",
			"Microscopy",
			"Reading",
			"Research",
			"Shortwave listening",
			"Aircraft spotting",
			"Amateur astronomy",
			"Beekeeping",
			"Benchmarking",
			"Birdwatching",
			"Bus spotting",
			"Butterfly watching",
			"Geocaching",
			"Gongoozling",
			"Herping",
			"Hiking",
			"backpacking",
			"Meteorology",
			"People-watching",
			"Photography",
			"Satellite watching",
			"Trainspotting",
			"Whale watching"
	];
	var cssProperties = [
			"<code>--*</code>",
			"<code>-webkit-line-clamp</code>",
			"<code>abs()</code>",
			"<code>accent-color</code>",
			"<code>acos()</code>",
			"<code>:active</code>",
			"<code>additive-symbols (@counter-style)</code>",
			"<code>::after (:after)</code>",
			"<code>align-content</code>",
			"<code>align-items</code>",
			"<code>align-self</code>",
			"<code>align-tracks</code>",
			"<code>all</code>",
			"<code>&lt;an-plus-b&gt;</code>",
			"<code>&lt;angle&gt;</code>",
			"<code>&lt;angle-percentage&gt;</code>",
			"<code>animation</code>",
			"<code>animation-composition</code>",
			"<code>animation-delay</code>",
			"<code>animation-direction</code>",
			"<code>animation-duration</code>",
			"<code>animation-fill-mode</code>",
			"<code>animation-iteration-count</code>",
			"<code>animation-name</code>",
			"<code>animation-play-state</code>",
			"<code>animation-timeline</code>",
			"<code>animation-timing-function</code>",
			"<code>@annotation</code>",
			"<code>annotation()</code>",
			"<code>:any-link</code>",
			"<code>appearance</code>",
			"<code>ascent-override (@font-face)</code>",
			"<code>asin()</code>",
			"<code>aspect-ratio</code>",
			"<code>atan()</code>",
			"<code>atan2()</code>",
			"<code>attr()</code>",
			"<code>::backdrop</code>",
			"<code>backdrop-filter</code>",
			"<code>backface-visibility</code>",
			"<code>background</code>",
			"<code>background-attachment</code>",
			"<code>background-blend-mode</code>",
			"<code>background-clip</code>",
			"<code>background-color</code>",
			"<code>background-image</code>",
			"<code>background-origin</code>",
			"<code>background-position</code>",
			"<code>background-position-x</code>",
			"<code>background-position-y</code>",
			"<code>background-repeat</code>",
			"<code>background-size</code>",
			"<code>base-palette (@font-palette-values)</code>",
			"<code>&lt;basic-shape&gt;</code>",
			"<code>::before (:before)</code>",
			"<code>:blank</code>",
			"<code>bleed (@page)</code>",
			"<code>&lt;blend-mode&gt;</code>",
			"<code>block-overflow</code>",
			"<code>block-size</code>",
			"<code>blur()</code>",
			"<code>border</code>",
			"<code>border-block</code>",
			"<code>border-block-color</code>",
			"<code>border-block-end</code>",
			"<code>border-block-end-color</code>",
			"<code>border-block-end-style</code>",
			"<code>border-block-end-width</code>",
			"<code>border-block-start</code>",
			"<code>border-block-start-color</code>",
			"<code>border-block-start-style</code>",
			"<code>border-block-start-width</code>",
			"<code>border-block-style</code>",
			"<code>border-block-width</code>",
			"<code>border-bottom</code>",
			"<code>border-bottom-color</code>",
			"<code>border-bottom-left-radius</code>",
			"<code>border-bottom-right-radius</code>",
			"<code>border-bottom-style</code>",
			"<code>border-bottom-width</code>",
			"<code>border-collapse</code>",
			"<code>border-color</code>",
			"<code>border-end-end-radius</code>",
			"<code>border-end-start-radius</code>",
			"<code>border-image</code>",
			"<code>border-image-outset</code>",
			"<code>border-image-repeat</code>",
			"<code>border-image-slice</code>",
			"<code>border-image-source</code>",
			"<code>border-image-width</code>",
			"<code>border-inline</code>",
			"<code>border-inline-color</code>",
			"<code>border-inline-end</code>",
			"<code>border-inline-end-color</code>",
			"<code>border-inline-end-style</code>",
			"<code>border-inline-end-width</code>",
			"<code>border-inline-start</code>",
			"<code>border-inline-start-color</code>",
			"<code>border-inline-start-style</code>",
			"<code>border-inline-start-width</code>",
			"<code>border-inline-style</code>",
			"<code>border-inline-width</code>",
			"<code>border-left</code>",
			"<code>border-left-color</code>",
			"<code>border-left-style</code>",
			"<code>border-left-width</code>",
			"<code>border-radius</code>",
			"<code>border-right</code>",
			"<code>border-right-color</code>",
			"<code>border-right-style</code>",
			"<code>border-right-width</code>",
			"<code>border-spacing</code>",
			"<code>border-start-end-radius</code>",
			"<code>border-start-start-radius</code>",
			"<code>border-style</code>",
			"<code>border-top</code>",
			"<code>border-top-color</code>",
			"<code>border-top-left-radius</code>",
			"<code>border-top-right-radius</code>",
			"<code>border-top-style</code>",
			"<code>border-top-width</code>",
			"<code>border-width</code>",
			"<code>bottom</code>",
			"<code>@bottom-center</code>",
			"<code>box-decoration-break</code>",
			"<code>box-shadow</code>",
			"<code>box-sizing</code>",
			"<code>break-after</code>",
			"<code>break-before</code>",
			"<code>break-inside</code>",
			"<code>brightness()</code>",
			"<code>calc()</code>",
			"<code>caption-side</code>",
			"<code>caret</code>",
			"<code>caret-color</code>",
			"<code>caret-shape</code>",
			"<code>@character-variant</code>",
			"<code>character-variant()</code>",
			"<code>@charset</code>",
			"<code>:checked</code>",
			"<code>circle()</code>",
			"<code>clamp()</code>",
			"<code>clear</code>",
			"<code>clip</code>",
			"<code>clip-path</code>",
			"<code>&lt;color&gt;</code>",
			"<code>color</code>",
			"<code>color-scheme</code>",
			"<code>column-count</code>",
			"<code>column-fill</code>",
			"<code>column-gap</code>",
			"<code>column-rule</code>",
			"<code>column-rule-color</code>",
			"<code>column-rule-style</code>",
			"<code>column-rule-width</code>",
			"<code>column-span</code>",
			"<code>column-width</code>",
			"<code>columns</code>",
			"<code>conic-gradient()</code>",
			"<code>contain</code>",
			"<code>contain-intrinsic-block-size</code>",
			"<code>contain-intrinsic-height</code>",
			"<code>contain-intrinsic-inline-size</code>",
			"<code>contain-intrinsic-size</code>",
			"<code>contain-intrinsic-width</code>",
			"<code>container</code>",
			"<code>container-name</code>",
			"<code>container-type</code>",
			"<code>content</code>",
			"<code>content-visibility</code>",
			"<code>contrast()</code>",
			"<code>cos()</code>",
			"<code>&lt;counter&gt;</code>",
			"<code>counter-increment</code>",
			"<code>counter-reset</code>",
			"<code>counter-set</code>",
			"<code>@counter-style</code>",
			"<code>counters()</code>",
			"<code>cross-fade()</code>",
			"<code>cubic-bezier()</code>",
			"<code>::cue</code>",
			"<code>::cue-region</code>",
			"<code>:current</code>",
			"<code>cursor</code>",
			"<code>&lt;custom-ident&gt;</code>",
			"<code>length#cap</code>",
			"<code>length#ch</code>",
			"<code>length#cm</code>",
			"<code>angle#deg</code>",
			"<code>:default</code>",
			"<code>:defined</code>",
			"<code>descent-override (@font-face)</code>",
			"<code>&lt;dimension&gt;</code>",
			"<code>:dir</code>",
			"<code>direction</code>",
			"<code>:disabled</code>",
			"<code>display</code>",
			"<code>&lt;display-box&gt;</code>",
			"<code>&lt;display-inside&gt;</code>",
			"<code>&lt;display-internal&gt;</code>",
			"<code>&lt;display-legacy&gt;</code>",
			"<code>&lt;display-listitem&gt;</code>",
			"<code>&lt;display-outside&gt;</code>",
			"<code>drop-shadow()</code>",
			"<code>resolution#dpcm</code>",
			"<code>resolution#dpi</code>",
			"<code>resolution#dppx</code>",
			"<code>element()</code>",
			"<code>ellipse()</code>",
			"<code>:empty</code>",
			"<code>empty-cells</code>",
			"<code>:enabled</code>",
			"<code>env()</code>",
			"<code>exp()</code>",
			"<code>length#em</code>",
			"<code>length#ex</code>",
			"<code>fallback (@counter-style)</code>",
			"<code>filter</code>",
			"<code>&lt;filter-function&gt;</code>",
			"<code>:first</code>",
			"<code>:first-child</code>",
			"<code>::first-letter (:first-letter)</code>",
			"<code>::first-line (:first-line)</code>",
			"<code>:first-of-type</code>",
			"<code>fit-content()</code>",
			"<code>&lt;flex&gt;</code>",
			"<code>flex</code>",
			"<code>flex-basis</code>",
			"<code>flex-direction</code>",
			"<code>flex-flow</code>",
			"<code>flex-grow</code>",
			"<code>flex-shrink</code>",
			"<code>flex-wrap</code>",
			"<code>flex_value#fr</code>",
			"<code>float</code>",
			"<code>:focus</code>",
			"<code>:focus-visible</code>",
			"<code>:focus-within</code>",
			"<code>font</code>",
			"<code>font-display (@font-face)</code>",
			"<code>@font-face</code>",
			"<code>font-family</code>",
			"<code>font-family (@font-face)</code>",
			"<code>font-family (@font-palette-values)</code>",
			"<code>font-feature-settings</code>",
			"<code>font-feature-settings (@font-face)</code>",
			"<code>@font-feature-values</code>",
			"<code>font-kerning</code>",
			"<code>font-language-override</code>",
			"<code>font-optical-sizing</code>",
			"<code>font-palette</code>",
			"<code>@font-palette-values</code>",
			"<code>font-size</code>",
			"<code>font-size-adjust</code>",
			"<code>font-stretch</code>",
			"<code>font-stretch (@font-face)</code>",
			"<code>font-style</code>",
			"<code>font-style (@font-face)</code>",
			"<code>font-synthesis</code>",
			"<code>font-variant</code>",
			"<code>font-variant (@font-face)</code>",
			"<code>font-variant-alternates</code>",
			"<code>font-variant-caps</code>",
			"<code>font-variant-east-asian</code>",
			"<code>font-variant-emoji</code>",
			"<code>font-variant-ligatures</code>",
			"<code>font-variant-numeric</code>",
			"<code>font-variant-position</code>",
			"<code>font-variation-settings</code>",
			"<code>font-variation-settings (@font-face)</code>",
			"<code>font-weight</code>",
			"<code>font-weight (@font-face)</code>",
			"<code>forced-color-adjust</code>",
			"<code>format()</code>",
			"<code>&lt;frequency&gt;</code>",
			"<code>&lt;frequency-percentage&gt;</code>",
			"<code>:fullscreen</code>",
			"<code>:future</code>",
			"<code>angle#grad</code>",
			"<code>gap</code>",
			"<code>&lt;gradient&gt;</code>",
			"<code>::grammar-error</code>",
			"<code>grayscale()</code>",
			"<code>grid</code>",
			"<code>grid-area</code>",
			"<code>grid-auto-columns</code>",
			"<code>grid-auto-flow</code>",
			"<code>grid-auto-rows</code>",
			"<code>grid-column</code>",
			"<code>grid-column-end</code>",
			"<code>grid-column-start</code>",
			"<code>grid-row</code>",
			"<code>grid-row-end</code>",
			"<code>grid-row-start</code>",
			"<code>grid-template</code>",
			"<code>grid-template-areas</code>",
			"<code>grid-template-columns</code>",
			"<code>grid-template-rows</code>",
			"<code>frequency#Hz</code>",
			"<code>hanging-punctuation</code>",
			"<code>:has</code>",
			"<code>height</code>",
			"<code>height (@viewport)</code>",
			"<code>@historical-forms</code>",
			"<code>:host()</code>",
			"<code>:host-context()</code>",
			"<code>:hover</code>",
			"<code>hsl()</code>",
			"<code>hsla()</code>",
			"<code>hue-rotate()</code>",
			"<code>hwb()</code>",
			"<code>hyphenate-character</code>",
			"<code>hyphenate-limit-chars</code>",
			"<code>hyphens</code>",
			"<code>hypot()</code>",
			"<code>&lt;ident&gt;</code>",
			"<code>&lt;image&gt;</code>",
			"<code>image()</code>",
			"<code>image-orientation</code>",
			"<code>image-rendering</code>",
			"<code>image-resolution</code>",
			"<code>image-set()</code>",
			"<code>@import</code>",
			"<code>:in-range</code>",
			"<code>:indeterminate</code>",
			"<code>inherit</code>",
			"<code>inherits (@property)</code>",
			"<code>initial</code>",
			"<code>initial-letter</code>",
			"<code>initial-letter-align</code>",
			"<code>initial-value (@property)</code>",
			"<code>inline-size</code>",
			"<code>input-security</code>",
			"<code>inset</code>",
			"<code>inset()</code>",
			"<code>inset-block</code>",
			"<code>inset-block-end</code>",
			"<code>inset-block-start</code>",
			"<code>inset-inline</code>",
			"<code>inset-inline-end</code>",
			"<code>inset-inline-start</code>",
			"<code>&lt;integer&gt;</code>",
			"<code>:invalid</code>",
			"<code>invert()</code>",
			"<code>:is</code>",
			"<code>isolation</code>",
			"<code>length#ic</code>",
			"<code>length#in</code>",
			"<code>justify-content</code>",
			"<code>justify-items</code>",
			"<code>justify-self</code>",
			"<code>justify-tracks</code>",
			"<code>frequency#kHz</code>",
			"<code>@keyframes</code>",
			"<code>lab()</code>",
			"<code>:lang</code>",
			"<code>:last-child</code>",
			"<code>:last-of-type</code>",
			"<code>@layer</code>",
			"<code>layer()</code>",
			"<code>layer() (@import)</code>",
			"<code>lch()</code>",
			"<code>leader()</code>",
			"<code>:left</code>",
			"<code>left</code>",
			"<code>@left-bottom</code>",
			"<code>&lt;length&gt;</code>",
			"<code>&lt;length-percentage&gt;</code>",
			"<code>letter-spacing</code>",
			"<code>line-break</code>",
			"<code>line-clamp</code>",
			"<code>line-gap-override (@font-face)</code>",
			"<code>line-height</code>",
			"<code>line-height-step</code>",
			"<code>&lt;line-style&gt;</code>",
			"<code>linear-gradient()</code>",
			"<code>:link</code>",
			"<code>list-style</code>",
			"<code>list-style-image</code>",
			"<code>list-style-position</code>",
			"<code>list-style-type</code>",
			"<code>local()</code>",
			"<code>:local-link</code>",
			"<code>log()</code>",
			"<code>length#mm</code>",
			"<code>margin</code>",
			"<code>margin-block</code>",
			"<code>margin-block-end</code>",
			"<code>margin-block-start</code>",
			"<code>margin-bottom</code>",
			"<code>margin-inline</code>",
			"<code>margin-inline-end</code>",
			"<code>margin-inline-start</code>",
			"<code>margin-left</code>",
			"<code>margin-right</code>",
			"<code>margin-top</code>",
			"<code>margin-trim</code>",
			"<code>::marker</code>",
			"<code>marks (@page)</code>",
			"<code>mask</code>",
			"<code>mask-border</code>",
			"<code>mask-border-mode</code>",
			"<code>mask-border-outset</code>",
			"<code>mask-border-repeat</code>",
			"<code>mask-border-slice</code>",
			"<code>mask-border-source</code>",
			"<code>mask-border-width</code>",
			"<code>mask-clip</code>",
			"<code>mask-composite</code>",
			"<code>mask-image</code>",
			"<code>mask-mode</code>",
			"<code>mask-origin</code>",
			"<code>mask-position</code>",
			"<code>mask-repeat</code>",
			"<code>mask-size</code>",
			"<code>mask-type</code>",
			"<code>masonry-auto-flow</code>",
			"<code>math-depth</code>",
			"<code>math-shift</code>",
			"<code>math-style</code>",
			"<code>matrix()</code>",
			"<code>matrix3d()</code>",
			"<code>max()</code>",
			"<code>max-block-size</code>",
			"<code>max-height</code>",
			"<code>max-height (@viewport)</code>",
			"<code>max-inline-size</code>",
			"<code>max-lines</code>",
			"<code>max-width</code>",
			"<code>max-width (@viewport)</code>",
			"<code>max-zoom (@viewport)</code>",
			"<code>@media</code>",
			"<code>min()</code>",
			"<code>min-block-size</code>",
			"<code>min-height</code>",
			"<code>min-height (@viewport)</code>",
			"<code>min-inline-size</code>",
			"<code>min-width</code>",
			"<code>min-width (@viewport)</code>",
			"<code>min-zoom (@viewport)</code>",
			"<code>minmax()</code>",
			"<code>mix-blend-mode</code>",
			"<code>mod()</code>",
			"<code>time#ms</code>",
			"<code>@namespace</code>",
			"<code>negative (@counter-style)</code>",
			"<code>:not</code>",
			"<code>:nth-child</code>",
			"<code>:nth-col</code>",
			"<code>:nth-last-child</code>",
			"<code>:nth-last-col</code>",
			"<code>:nth-last-of-type</code>",
			"<code>:nth-of-type</code>",
			"<code>&lt;number&gt;</code>",
			"<code>object-fit</code>",
			"<code>object-position</code>",
			"<code>offset</code>",
			"<code>offset-anchor</code>",
			"<code>offset-distance</code>",
			"<code>offset-path</code>",
			"<code>offset-position</code>",
			"<code>offset-rotate</code>",
			"<code>:only-child</code>",
			"<code>:only-of-type</code>",
			"<code>opacity</code>",
			"<code>opacity()</code>",
			"<code>:optional</code>",
			"<code>order</code>",
			"<code>orientation (@viewport)</code>",
			"<code>@ornaments</code>",
			"<code>ornaments()</code>",
			"<code>orphans</code>",
			"<code>:out-of-range</code>",
			"<code>outline</code>",
			"<code>outline-color</code>",
			"<code>outline-offset</code>",
			"<code>outline-style</code>",
			"<code>outline-width</code>",
			"<code>&lt;overflow&gt;</code>",
			"<code>overflow-anchor</code>",
			"<code>overflow-block</code>",
			"<code>overflow-clip-margin</code>",
			"<code>overflow-inline</code>",
			"<code>overflow-wrap</code>",
			"<code>overflow-x</code>",
			"<code>overflow-y</code>",
			"<code>override-colors (@font-palette-values)</code>",
			"<code>overscroll-behavior</code>",
			"<code>overscroll-behavior-block</code>",
			"<code>overscroll-behavior-inline</code>",
			"<code>overscroll-behavior-x</code>",
			"<code>overscroll-behavior-y</code>",
			"<code>Pseudo-classes</code>",
			"<code>Pseudo-elements</code>",
			"<code>length#pc</code>",
			"<code>length#pt</code>",
			"<code>length#px</code>",
			"<code>pad (@counter-style)</code>",
			"<code>padding</code>",
			"<code>padding-block</code>",
			"<code>padding-block-end</code>",
			"<code>padding-block-start</code>",
			"<code>padding-bottom</code>",
			"<code>padding-inline</code>",
			"<code>padding-inline-end</code>",
			"<code>padding-inline-start</code>",
			"<code>padding-left</code>",
			"<code>padding-right</code>",
			"<code>padding-top</code>",
			"<code>@page</code>",
			"<code>page</code>",
			"<code>page-break-after</code>",
			"<code>page-break-before</code>",
			"<code>page-break-inside</code>",
			"<code>page-orientation (@page)</code>",
			"<code>paint()</code>",
			"<code>paint-order</code>",
			"<code>::part</code>",
			"<code>:past</code>",
			"<code>path()</code>",
			"<code>:paused</code>",
			"<code>&lt;percentage&gt;</code>",
			"<code>perspective</code>",
			"<code>perspective()</code>",
			"<code>perspective-origin</code>",
			"<code>:picture-in-picture</code>",
			"<code>place-content</code>",
			"<code>place-items</code>",
			"<code>place-self</code>",
			"<code>::placeholder</code>",
			"<code>:placeholder-shown</code>",
			"<code>:playing</code>",
			"<code>pointer-events</code>",
			"<code>polygon()</code>",
			"<code>&lt;position&gt;</code>",
			"<code>position</code>",
			"<code>pow()</code>",
			"<code>prefix (@counter-style)</code>",
			"<code>print-color-adjust</code>",
			"<code>@property</code>",
			"<code>length#Q</code>",
			"<code>quotes</code>",
			"<code>angle#rad</code>",
			"<code>length#rem</code>",
			"<code>radial-gradient()</code>",
			"<code>range (@counter-style)</code>",
			"<code>&lt;ratio&gt;</code>",
			"<code>ray()</code>",
			"<code>:read-only</code>",
			"<code>:read-write</code>",
			"<code>rect()</code>",
			"<code>rem()</code>",
			"<code>repeat()</code>",
			"<code>repeating-conic-gradient()</code>",
			"<code>repeating-linear-gradient()</code>",
			"<code>repeating-radial-gradient()</code>",
			"<code>:required</code>",
			"<code>resize</code>",
			"<code>&lt;resolution&gt;</code>",
			"<code>reversed()</code>",
			"<code>revert</code>",
			"<code>rgb()</code>",
			"<code>rgba()</code>",
			"<code>:right</code>",
			"<code>right</code>",
			"<code>@right-bottom</code>",
			"<code>:root</code>",
			"<code>rotate</code>",
			"<code>rotate()</code>",
			"<code>rotate3d()</code>",
			"<code>rotateX()</code>",
			"<code>rotateY()</code>",
			"<code>rotateZ()</code>",
			"<code>round()</code>",
			"<code>row-gap</code>",
			"<code>ruby-align</code>",
			"<code>ruby-merge</code>",
			"<code>ruby-position</code>",
			"<code>saturate()</code>",
			"<code>scale</code>",
			"<code>scale()</code>",
			"<code>scale3d()</code>",
			"<code>scaleX()</code>",
			"<code>scaleY()</code>",
			"<code>scaleZ()</code>",
			"<code>:scope</code>",
			"<code>scroll()</code>",
			"<code>scroll-behavior</code>",
			"<code>scroll-margin</code>",
			"<code>scroll-margin-block</code>",
			"<code>scroll-margin-block-end</code>",
			"<code>scroll-margin-block-start</code>",
			"<code>scroll-margin-bottom</code>",
			"<code>scroll-margin-inline</code>",
			"<code>scroll-margin-inline-end</code>",
			"<code>scroll-margin-inline-start</code>",
			"<code>scroll-margin-left</code>",
			"<code>scroll-margin-right</code>",
			"<code>scroll-margin-top</code>",
			"<code>scroll-padding</code>",
			"<code>scroll-padding-block</code>",
			"<code>scroll-padding-block-end</code>",
			"<code>scroll-padding-block-start</code>",
			"<code>scroll-padding-bottom</code>",
			"<code>scroll-padding-inline</code>",
			"<code>scroll-padding-inline-end</code>",
			"<code>scroll-padding-inline-start</code>",
			"<code>scroll-padding-left</code>",
			"<code>scroll-padding-right</code>",
			"<code>scroll-padding-top</code>",
			"<code>scroll-snap-align</code>",
			"<code>scroll-snap-stop</code>",
			"<code>scroll-snap-type</code>",
			"<code>@scroll-timeline</code>",
			"<code>scroll-timeline</code>",
			"<code>scroll-timeline-axis</code>",
			"<code>scroll-timeline-name</code>",
			"<code>scrollbar-color</code>",
			"<code>scrollbar-gutter</code>",
			"<code>scrollbar-width</code>",
			"<code>::selection</code>",
			"<code>selector()</code>",
			"<code>sepia()</code>",
			"<code>&lt;shape&gt;</code>",
			"<code>shape-image-threshold</code>",
			"<code>shape-margin</code>",
			"<code>shape-outside</code>",
			"<code>sign()</code>",
			"<code>sin()</code>",
			"<code>size (@page)</code>",
			"<code>size-adjust (@font-face)</code>",
			"<code>skew()</code>",
			"<code>skewX()</code>",
			"<code>skewY()</code>",
			"<code>::slotted</code>",
			"<code>speak-as (@counter-style)</code>",
			"<code>::spelling-error</code>",
			"<code>sqrt()</code>",
			"<code>src (@font-face)</code>",
			"<code>steps()</code>",
			"<code>&lt;string&gt;</code>",
			"<code>@styleset</code>",
			"<code>styleset()</code>",
			"<code>@stylistic</code>",
			"<code>stylistic()</code>",
			"<code>suffix (@counter-style)</code>",
			"<code>@supports</code>",
			"<code>supports() (@import)</code>",
			"<code>@swash</code>",
			"<code>swash()</code>",
			"<code>symbols (@counter-style)</code>",
			"<code>symbols()</code>",
			"<code>syntax (@property)</code>",
			"<code>system (@counter-style)</code>",
			"<code>time#s</code>",
			"<code>angle#turn</code>",
			"<code>tab-size</code>",
			"<code>table-layout</code>",
			"<code>tan()</code>",
			"<code>:target</code>",
			"<code>target-counter()</code>",
			"<code>target-counters()</code>",
			"<code>::target-text</code>",
			"<code>target-text()</code>",
			"<code>:target-within</code>",
			"<code>text-align</code>",
			"<code>text-align-last</code>",
			"<code>text-combine-upright</code>",
			"<code>text-decoration</code>",
			"<code>text-decoration-color</code>",
			"<code>text-decoration-line</code>",
			"<code>text-decoration-skip</code>",
			"<code>text-decoration-skip-ink</code>",
			"<code>text-decoration-style</code>",
			"<code>text-decoration-thickness</code>",
			"<code>text-emphasis</code>",
			"<code>text-emphasis-color</code>",
			"<code>text-emphasis-position</code>",
			"<code>text-emphasis-style</code>",
			"<code>text-indent</code>",
			"<code>text-justify</code>",
			"<code>text-orientation</code>",
			"<code>text-overflow</code>",
			"<code>text-rendering</code>",
			"<code>text-shadow</code>",
			"<code>text-size-adjust</code>",
			"<code>text-transform</code>",
			"<code>text-underline-offset</code>",
			"<code>text-underline-position</code>",
			"<code>&lt;time&gt;</code>",
			"<code>&lt;time-percentage&gt;</code>",
			"<code>&lt;timing-function&gt;</code>",
			"<code>top</code>",
			"<code>@top-center</code>",
			"<code>touch-action</code>",
			"<code>transform</code>",
			"<code>transform-box</code>",
			"<code>&lt;transform-function&gt;</code>",
			"<code>transform-origin</code>",
			"<code>transform-style</code>",
			"<code>transition</code>",
			"<code>transition-delay</code>",
			"<code>transition-duration</code>",
			"<code>transition-property</code>",
			"<code>transition-timing-function</code>",
			"<code>translate</code>",
			"<code>translate()</code>",
			"<code>translate3d()</code>",
			"<code>translateX()</code>",
			"<code>translateY()</code>",
			"<code>translateZ()</code>",
			"<code>type()</code>",
			"<code>unicode-bidi</code>",
			"<code>unicode-range (@font-face)</code>",
			"<code>unset</code>",
			"<code>&lt;url&gt;</code>",
			"<code>url()</code>",
			"<code>:user-invalid</code>",
			"<code>user-select</code>",
			"<code>:user-valid</code>",
			"<code>user-zoom (@viewport)</code>",
			"<code>length#vh</code>",
			"<code>length#vmax</code>",
			"<code>length#vmin</code>",
			"<code>length#vw</code>",
			"<code>:valid</code>",
			"<code>var()</code>",
			"<code>vertical-align</code>",
			"<code>::view-transition</code>",
			"<code>::view-transition-group</code>",
			"<code>::view-transition-image-pair</code>",
			"<code>view-transition-name</code>",
			"<code>::view-transition-new</code>",
			"<code>::view-transition-old</code>",
			"<code>@viewport</code>",
			"<code>viewport-fit (@viewport)</code>",
			"<code>visibility</code>",
			"<code>:visited</code>",
			"<code>:where</code>",
			"<code>white-space</code>",
			"<code>widows</code>",
			"<code>width</code>",
			"<code>width (@viewport)</code>",
			"<code>will-change</code>",
			"<code>word-break</code>",
			"<code>word-spacing</code>",
			"<code>word-wrap</code>",
			"<code>writing-mode</code>",
			"<code>resolution#x</code>",
			"<code>z-index</code>",
			"<code>zoom (@viewport)</code>",
			"<code>--*</code>"
	];

	const output = document.querySelector('output');

	document.querySelector('#generator').addEventListener('click', () => {
		const aesthetic = getRandomItem(styles);
		const hobby = getRandomItem(hobbies);
		const cssProperty = getRandomItem(cssProperties);
		const message = `Make a <em><strong>${aesthetic}</strong></em> style website about <em><strong>${hobby}</strong></em> using <strong>${cssProperty}</strong>`;
		
		output.innerHTML = message;
	})
</script>