:root {
  --c-gray-100: hsl(196, 5%, 97%);
  --c-gray-200: hsl(196, 5%, 90%);
  --c-gray-300: hsl(196, 5%, 81%);
  --c-gray-400: hsl(196, 5%, 67%);
  --c-gray-500: hsl(196, 5%, 57%);
  --c-gray-600: hsl(196, 5%, 42%);
  --c-gray-700: hsl(196, 5%, 30%);
  --c-gray-800: hsl(196, 5%, 20%);
  --c-gray-900: hsl(196, 5%, 9%);

  --c-red-100: hsl(357, 100%, 97%);
  --c-red-200: hsl(357, 100%, 90%);
  --c-red-300: hsl(357, 100%, 81%);
  --c-red-400: hsl(357, 100%, 67%);
  --c-red-500: hsl(357, 100%, 57%);
  --c-red-600: hsl(357, 86%, 42%);
  --c-red-700: hsl(357, 88%, 30%);
  --c-red-800: hsl(357, 82%, 20%);
  --c-red-900: hsl(357, 73%, 10%);
  
  --c-yellow-100: hsl(60, 100%, 97%);
  --c-yellow-200: hsl(55, 97%, 90%);
  --c-yellow-300: hsl(50, 97%, 70%);
  --c-yellow-400: hsl(45, 96%, 60%);
  --c-yellow-500: hsl(42, 92%, 54%);
  --c-yellow-600: hsl(42, 95%, 45%);
  --c-yellow-700: hsl(40, 90%, 30%);
  --c-yellow-800: hsl(35, 83%, 20%);
  --c-yellow-900: hsl(35, 77%, 9%);
    
  --c-green-100: hsl(136, 100%, 97%);
  --c-green-200: hsl(136, 100%, 90%);
  --c-green-300: hsl(136, 100%, 76%);
  --c-green-400: hsl(136, 91%, 59%);
  --c-green-500: hsl(136, 92%, 46%);
  --c-green-600: hsl(140, 100%, 32%);
  --c-green-700: hsl(144, 93%, 23%);
  --c-green-800: hsl(148, 83%, 17%);
  --c-green-900: hsl(152, 82%, 5%);

  --c-blue-100: hsl(196, 100%, 97%);
  --c-blue-200: hsl(196, 98%, 90%);
  --c-blue-300: hsl(196, 96%, 70%);
  --c-blue-400: hsl(196, 94%, 60%);
  --c-blue-500: hsl(196, 92%, 50%);
  --c-blue-600: hsl(200, 90%, 40%);
  --c-blue-700: hsl(204, 88%, 30%);
  --c-blue-800: hsl(208, 86%, 20%);
  --c-blue-900: hsl(212, 84%, 7%);
  
  /* --c-brown-100: hsl(40, 20%, 96%);
  --c-brown-200: hsl(40, 14%, 90%);
  --c-brown-300: hsl(40, 15%, 74%);
  --c-brown-400: hsl(40, 17%, 62%);
  --c-brown-500: hsl(40, 15%, 52%);
  --c-brown-600: hsl(36, 14%, 45%);
  --c-brown-700: hsl(32, 16%, 35%);
  --c-brown-800: hsl(28, 13%, 26%);
  --c-brown-900: hsl(24, 13%, 10%); */
  --c-accent-light: var(--c-blue-200);
  --c-accent: var(--c-blue-300);
  --c-accent-dark: var(--c-blue-400);
  
  &[data-theme="holodeck"] {
    --c-accent-light: var(--c-yellow-200);
    --c-accent: var(--c-yellow-300);
    --c-accent-dark: var(--c-yellow-400);
  }
  
  &[data-theme="neo"] {
    --c-accent-light: var(--c-green-200);
    --c-accent: var(--c-green-300);
    --c-accent-dark: var(--c-green-400);
  }
}