<ol reversed class="postlist" style="counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }}">
{% for post in postslist | reverse %}
	<li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %} card">
		<a href="{{ post.url }}" class="card__layout">
			<div class="card__header">
				<div class="card__header-icon">{}</div>
				<div class="card__header-text">
					<p class="postlist-item__title">{{ post.data.title }}</p>
					<time class="postlist-item__date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("LLLL yyyy") }}</time>
				</div>
			</div>
			<div class="card__body">
				{{ post.data.description }}
			</div>
		</a>
	</li>
{% endfor %}
</ol>
