.card {
	background: white;
	border-radius: 0.2rem;
	box-shadow: var(--box-shadow-y-pos);
	overflow: hidden;
	container-type: inline-size;
	transition: box-shadow var(--transition-duration);
	
	&:hover {
		box-shadow: var(--box-shadow-y-pos--dark);
	}
	
	[data-theme="holodeck"] &,
	[data-theme="neo"] & {
		background: var(--c-gray-700);
	}
}

.card__layout {
	color: inherit;
	text-decoration: initial;
	transition: filter var(--transition-duration);
	
	[data-theme="holodeck"] &,
	[data-theme="neo"] & {
		&:hover {
			filter: contrast(1.2);
		}
	}
}

.card__header {
	/* background-image: linear-gradient(to bottom right, var(--c-blue-400), var(--c-green-400)); */
	/* background-image: radial-gradient(ellipse at 0% center, var(--c-red-400) 0, var(--c-blue-400) 120%); */
	/* background-position: center -50%;
	background-size: auto 400%; */
	container-type: inline-size;
	display: grid;
	grid-template-columns: 3rem auto;
	/* box-shadow: inset 0 -0.1rem 0.2rem hsla(0, 9%, 33%, 0.2); */
}

.card__header-icon {
	display: grid;
	place-items: center;
	color: white;
	background-image: linear-gradient(to bottom right, var(--c-blue-400), var(--c-green-400));
	font-family: var(--font-family--mono);
	font-weight: bold;
	
	[data-theme="holodeck"] & {
		background-image: linear-gradient(to bottom right, var(--c-yellow-600), var(--c-yellow-400));
	}
	
	[data-theme="neo"] & {
		background-image: linear-gradient(to bottom right, var(--c-green-600), var(--c-green-400));
	}
}

.card__header-text {
	padding: 1.2rem;
	background: linear-gradient(to bottom right, var(--c-green-100), var(--c-blue-100));
	
	[data-theme="holodeck"] &,
	[data-theme="neo"] & {
		background: var(--c-gray-800);
	}
	
	* { margin: 0; }
	
	* + * {
		margin-top: 0.2rem;
	}
}

.card__body {
	padding: 1.2rem;
	
	* { margin: 0; }
	
	* + * {
		margin-top: 0.5rem;
	}
}