.header--main {
  position: relative;
  padding: 0 1rem;
}

.theme-switcher {
  display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	min-height: var(--grid-size);
  
  & [type=radio] {
    --c-fill: var(--c-accent-light);
    
    margin: 0;
    inline-size: var(--grid-size);
    block-size: var(--grid-size);
    appearance: none;
    -webkit-appearance: none;
    border-radius: 50%;
    background: radial-gradient(
      1rem circle at 50%,
      var(--c-fill) 40%,
      transparent 45%
    );
    cursor: pointer;
    transition: background var(--transition-duration);
    
    &:hover {
      --c-fill: var(--c-accent-dark);
    }
    
    &:checked {
      --c-fill: var(--c-accent-dark);
    }
    /* box-shadow: 0 0 0 1px var(--c-accent-light); */
    
    &[value="light"] {
      --c-accent-light: var(--c-blue-200);
      --c-accent: var(--c-blue-300);
      --c-accent-dark: var(--c-blue-400);
    }
    
    &[value="holodeck"] {
      --c-accent-light: var(--c-yellow-300);
      --c-accent: var(--c-yellow-400);
      --c-accent-dark: var(--c-yellow-500);
    }
    
    &[value="neo"] {
      --c-accent-light: var(--c-green-300);
      --c-accent: var(--c-green-400);
      --c-accent-dark: var(--c-green-500);
    }
  }
}