.postlist {
	display: grid;
	gap: var(--gap);
	margin: 0;
	padding: 0;
	/* width: min(calc(100% - 2rem), 1200px); */
	list-style: none;

	[data-page-type="postlist"] & {
		margin-top: calc(var(--grid-size) / 2);
	}

	/* @container (width >= 768px) {
		grid-template-columns: repeat(2, 1fr);
	}

	@container (width >= 1200px) {
		grid-template-columns: repeat(4, 1fr);
	} */
}

.postlist-item__title {
	/* text-transform: uppercase; */
	font-weight: bold;
	font-size: 1.3rem;
	margin-block-start: .3em;
}

.postlist-item__date {
	display: block;
	color: var(--c-gray-600);
	font-size: var(--font-size--sm);

	[data-theme="holodeck"] &,
	[data-theme="neo"] & {
		color: var(--c-gray-400);
	}
}

.post-metadata {
	& time {
		display: grid;
		align-items: center;
		min-height: var(--grid-size);
	}

	.tags {
		list-style: none;
		padding: 0;
		margin: 0;
		min-height: var(--grid-size);
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 1ex;
	}
}

.breakout {
	--gutter: 0px;
	--width: min(100cqw - var(--gutter), var(--grid-size) * 20);

	margin-inline: calc((var(--width) - 100%) / -2);
	margin-block: var(--gap);

	&.guttered {
		--gutter: calc(var(--gap) * 2);
	}
}

.cp_embed_iframe {
	height: auto;
	min-height: 20rem;
	max-height: 80dvh;
	aspect-ratio: 16 / 9;
}
