.social-icons {
	& ul {
		padding: 0;
		margin: 0;
		list-style: none;
		display: flex;
		flex-wrap: wrap;
	}

	& li {
		display: block;
	}

	& a {
		--size: min(1.5rem, var(--grid-size));

		inline-size: var(--grid-size);
		block-size: var(--grid-size);
		display: grid;
		place-items: center;
		transition: all var(--transition-duration);
		position: relative;

		&:has([src*="linkedin"]) {
			&:before {
				content: "";
				display: block;
				background-color: white;
				position: absolute;
				inset: calc(((var(--grid-size) - var(--size)) / 2) + 0.125rem);
				z-index: -1;
				border-radius: 0.125rem;
			}
		}
	}

	& img {

		display: block;
		object-fit: contain;
		inline-size: var(--size);
		block-size: var(--size);

		&[src*="github"], &[src*="codepen"] {
			[data-theme="neo"] &,
			[data-theme="holodeck"] & {
				filter: brightness(100);
			}
		}
	}
}
