.social-icons {
	& ul {
		padding: 0;
		margin: 0;
		list-style: none;
		display: flex;
		flex-wrap: wrap;
	}

	& li {
		inline-size: var(--grid-size);
		block-size: var(--grid-size);
		display: grid;
		place-items: center;
	}

	& a {
		display: block;
		transition: all var(--transition-duration);
	}

	& img {
		--size: min(1.5rem, var(--grid-size));

		display: block;
		object-fit: contain;
		inline-size: var(--size);
		block-size: var(--size);

		&[src*="github"], &[src*="codepen"] {
			[data-theme="neo"] &,
			[data-theme="holodeck"] & {
				filter: brightness(100);
			}
		}
	}
}