<footer class="footer--main">
	<div class="social-icons">
		<ul>
			<li>
				<a href="https://mastodon.social/@Jbasoo" rel=me>
					<img src="/img/icons/social/mastodon.svg" alt="Mastodon" width="22.445344129554656" height="24" loading="lazy">
				</a>
			</li>
			<li>
				<a href="https://twitter.com/jbasoo">
					<img src="/img/icons/social/twitter.svg" alt="Twitter" width="29.12" height="24" loading="lazy">
				</a>
			</li>
			<li>
				<a href="https://github.com/jbasoo">
					<img src="/img/icons/social/github.svg" alt="Github" width="24.5" height="24" loading="lazy">
				</a>
			</li>
			<li>
				<a href="https://www.linkedin.com/in/james-basoo/">
					<img src="/img/icons/social/linkedin.svg" alt="Linkedin" width="24" height="24" loading="lazy">
				</a>
			</li>
			<li>
				<a href="https://codepen.io/jbasoo">
					<img src="/img/icons/social/codepen.svg" alt="Codepen" width="24" height="24" loading="lazy">
				</a>
			</li>
		</ul>
	</div>
</footer>
