<header class="header--main">
	<div class="theme-switcher">
		<label for="theme" class="visually-hidden">Theme Switcher</label>
		<button type="button" name="theme" id="theme-switcher__light" value="light" title="Light">
		<button type="button" name="theme" id="theme-switcher__holodeck" value="holodeck" title="Holodeck">
		<button type="button" name="theme" id="theme-switcher__neo" value="neo" title= "Neo">
	</div>

	{% include 'components/logo.njk' %}

	<nav class="nav--main" aria-label="Main">
		<h2 class="visually-hidden">Top level navigation menu</h2>
		{#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
		<ul>
			{%- for entry in collections.all | eleventyNavigation %}
				<li><a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a></li>
			{%- endfor %}
		</ul>
	</nav>
</header>