<a href="/" class="logo">
	<div class="pre-mark">James</div>
	<div class="mark">
		<div class="group base">
			<span class="circle red"></span>
			<span class="circle green"></span>
			<span class="circle blue"></span>
		</div>
		<div class="group interaction">
			<span class="circle red"></span>
			<span class="circle green"></span>
			<span class="circle blue"></span>
		</div>
	</div>
	<div class="post-mark">Basoo</div>
</a>
