<a href="/" class="logo">	
	<div class="mark">
		<div class="group base">
			<span class="circle yellow"></span>
			<span class="circle green"></span>
			<span class="circle blue"></span>
		</div>
		<div class="group interaction">
			<span class="circle yellow"></span>
			<span class="circle green"></span>
			<span class="circle blue"></span>
		</div>
	</div>
	
	<form class="theme-switcher">
		<label for="theme" class="visually-hidden">Theme Switcher</label>
		<input type="radio" name="theme" id="theme-switcher__light" value="light" title="Light" checked>
		<input type="radio" name="theme" id="theme-switcher__neo" value="neo" title= "Neo">
		<input type="radio" name="theme" id="theme-switcher__holodeck" value="holodeck" title="Holodeck">
	</form>
	
	<div class="text">
		<div class="word">
			<span class="persistent">J</span>
			<span class="intermittent"><span>ames</span><span>
		</div>
		<div class="word">
			<span class="persistent">B</span>
			<span class="intermittent"><span>asoo</span><span>
		</div>
	</div>
</a>
