:root {
  accent-color: var(--c-accent);
  overflow-x: hidden;
}

body {
  background-color: var(--c-page-background);
  position: relative;
  transition: color var(--transition-duration), background-color var(--transition-duration);
  will-change: color, background-color;
  line-height: 1.75;
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  overflow-x: hidden;

  &:before,
  &:after {
    content: "";
    position: absolute;
    overflow: hidden;
    pointer-events: none;
    will-change: background-image;
    z-index: -1;
    left: calc(var(--grid-overspill) * -1);
    right: calc(var(--grid-overspill) * -1);
    height: min(50dvh, var(--grid-size) * 10);
    background-image:
      linear-gradient(var(--grid-line-color) var(--grid-line-thickness), transparent var(--grid-line-thickness)),
      linear-gradient(90deg, var(--grid-line-color) var(--grid-line-thickness), transparent var(--grid-line-thickness))
    ;
    background-size:
      var(--grid-size) var(--grid-size),
      var(--grid-size) var(--grid-size)
    ;

    -webkit-mask-image: var(--mask);
    mask-image: var(--mask);
  }

  &:before {
    /* @TODO: find solution for safari not supporting "at" syntax in radial gradients */
    --mask: radial-gradient(ellipse at center top, black 0, transparent 70%);

    top: 0;
    background-position: center calc(0% - var(--grid-line-thickness) - calc(var(--grid-size) / 2));
  }

  &:after {
    /* @TODO: find solution for safari not supporting "at" syntax in radial gradients */
    --mask: radial-gradient(ellipse at center bottom, black 0, transparent 70%);

    bottom: 0;
    background-position: center calc(100% + var(--grid-line-thickness));
  }
}

.container {
  container-type: inline-size;
}

.layout--1col {
  display: grid;
  gap: 2rem;
  grid-template-columns: minmax(0, 1fr);
  margin-inline: auto;
  width: min(calc(100dvw - 4rem), calc(var(--grid-size) * 14.222222222222222)); /* 640px */
}

.layout--2col {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin-inline: auto;
  width: min(calc(100dvw - 4rem), $bp_xl);

  @media (width >= 1200px) {
    grid-template-columns: 8fr 4fr;
	}
}

.heading-group {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	font-size: var(--font-size--h1);

	& > a {
		inline-size: 2rem;
		block-size: var(--grid-size);
		display: flex;
		align-items: center;
		transition: filter var(--transition-duration);

		&:hover {
			filter: brightness(0.8) contrast(1.5);
		}
	}

	& img {
		inline-size: calc(var(--grid-size) / 3);
		block-size: calc(var(--grid-size) / 3);
		object-fit: contain;
	}

	& h1 {
		margin: 0;
	}
}

.owl {
  > * + * {
    margin-top: 1rem;
  }
}

video {
  width: 100%;
	aspect-ratio: 16/9;
}

hr {
  border: 0;
  border-top: 1px solid var(--c-text);
  opacity: 0.5;
}

.scroll-x {
  max-width: 100%;
  overflow-x: scroll;
}
